/* Variable declaration are done here.*/
:root {
    --green: #1ED760;
    --gray: #919496;
    --header-height: 80px;
    --logo-height: 40px;
}
/* CSS which affects the whole document commences here.*/
*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Ends here.*/


/* CSS for the navbar which is engendered in the header component. */


body header nav{

    position:relative;
    top: 0;

    background: yellow;
    display: flex;
    justify-content: space-between;
    margin: auto;
    min-height: 54px;
}

body header nav ul{

    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

body header nav li{

    list-style: none;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

body header nav a{

    text-decoration: none;
    color: black;
}

body header nav a:hover{

    color:whitesmoke;
    cursor: pointer;
}

body header nav div {

    margin-left: 60%;

    display: flex;
    position: absolute;
}


/* CSS for the navbar ends here.*/

/* CSS for the greetings portion of the header which also contains the search box. */

body header #greeting-message-and-search-box{

    padding: 15rem 0 0 0;
    background: aqua;
    width: 100%;
    height: 30rem;
    text-align: center;
}

body header .container{


}

/* CSS for the greetings portion of the header ends here. */

/* CSS for the our mission section.*/

.our-mission{

    text-align: center;
}

/* CSS for our mission section ends here. */

/* CSS for the about us section starts here. */

body .about-us #section-prompt{

    text-align: center;
}

body .about-us .team-leader{

    text-align: center;
}

body .about-us #rest-of-the-team{


    display: inline;
    text-align: center;
}

body .about-us .team-member{


}

/* CSS for the about us section ends here. */

/* CSS for the contact section starts here. */

body .contact #contact-details ul{

    list-style: none;
}

body .contact img{

    margin-left: 50%;
}

/* CSS for the contact section ends here.*/

/* CSS for the footer portion of the page. */

body footer{

    background: pink;
    text-align: center;
}

/* CSS for the footer portion of the page ends here. */