/* CSS for the navbar which is engendered in the header component. */
body header nav{

    width: 100%;
    display: flex;
    background: yellow;

    position:relative;
}

body header nav h3{

    margin-left: 1.5rem;
}

body header nav a{

    text-decoration: none;
    color: black;
}

body header nav a:hover{

    color:whitesmoke;
}

body header nav div {

    margin-left: 75%;

    display: flex;
    position: absolute;
}

/* CSS for the greetings portion of the header which also contains the search box.*/

body header #greeting-message-and-search-box{

    background: aqua;


    width: 100%;
    height: auto;
    text-align: center;
}