/* CSS for the navbar which is engendered in the header component. */
body header nav{

    width: 100%;
    display: flex;
    background: yellow;

    position:relative;
}

body header nav h3{

    margin-left: 1.5rem;
}

body header nav a{

    text-decoration: none;
    color: black;
}

body header nav a:hover{

    color:whitesmoke;
}

body header nav div {

    /*TODO: Make sure that no matter how much the page is upscaled or downscaled the
        distance to the right of the screen remains constant.*/
    margin-left: 65%;

    display: flex;
    position: absolute;
}

/* CSS for the navbar ends here.*/

/* CSS for the greetings portion of the header which also contains the search box. */

body header #greeting-message-and-search-box{

    background: aqua;


    width: 100%;
    height: auto;
    text-align: center;
}

/* CSS for the greetings portion of the header ends here. */

/* CSS for the our mission section.*/

.our-mission{

    text-align: center;
}

/* CSS for our mission section ends here. */

/* CSS for the about us section starts here. */

body .about-us #section-prompt{

    text-align: center;
}

body .about-us .team-leader{

    text-align: center;
}

body .about-us .team-member{

    display: inline-grid;
    text-align: center;
    margin-left: 25%;

}

/* CSS for the about us section ends here. */

/* CSS for the contact section starts here. */

body .contact #contact-details ul{

    list-style: none;
}

body .contact img{

    margin-left: 50%;
}

/* CSS for the contact section ends here.*/

/* CSS for the footer portion of the page. */

body footer{

    background: pink;
    text-align: center;
}

/* CSS for the footer portion of the page ends here. */