/*@keyframes shifting-into-view {*/

/*    from{left: -300px; opacity: 0}*/
/*    to{left: 0; opacity: 1;}*/
/*}*/

/*@keyframes show-up{*/

/*    0% {opacity:0;}*/
/*    20% {opacity:1;}*/
/*    80% {opacity:1;}*/
/*    100% {opacity:0;}*/
/*}*/

/*@keyframes slide-in{*/

/*    0% {margin-left:-800px;}*/
/*    20% {margin-left:-800px;}*/
/*    35% {margin-left:0px;}*/
/*    100% {margin-left:0px;}*/
/*}*/

/*@keyframes reveal{*/

/*    0% {opacity:0;width:0px;}*/
/*    20% {opacity:1;width:0px;}*/
/*    30% {width:355px;}*/
/*    80% {opacity:1;}*/
/*    100% {opacity:0;width:355px;}*/
/*}*/
