/* CSS which affects the whole document commences here.*/
*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{

    color: black;
}

a:hover{

    color: #cccccc;
}

/* Ends here.*/

main{

    position: relative;
}
.visible-xs {
    display: none !important;

}

.back-top{

    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top:20px
}


/* CSS for the navbar which is engendered in the header component. */

nav {
   height: 70px;
    width: 100%;
    background-color: whitesmoke;
    align-items:center;
}

.nav-links{

   margin-left: 70%;
}

.nav-links .nav-links__list{

    display: flex;
    list-style: none;
}

.brand__link{


    padding: 10px;
    background: black;
    border-radius: 20px;
    text-decoration: none;
}

.brand__link:hover{

    background: #cccccc;
}

.brand__link__text{

    color: white;
    font-weight: 600;
    font-size: 20px;
}

.nav-links .nav-links__list__item{

    margin-left: 10px;
}

.nav-links .nav-links__list__item__link{

    text-decoration: none;
    color: #000000;
}

.nav-links .nav-links__list__item__link:hover{

    text-decoration: none;
    color: #cccccc;
}

.nav-links .nav-links__list__item__link__button{

    box-sizing: border-box;

    padding: 10px;
    background: black;

    border-radius: 20px;
}

.nav-links .nav-links__list__item__link__button:hover{

    background: #cccccc;
}


.nav-links .nav-links__list__item__link__button__text{

    color: white;
}

/*nav a{*/

/*    color: black;*/
/*    display: inline-block;*/
/*    padding: 13px 10px 13px 10px;*/
/*    text-decoration: none;*/
/*}*/

/*body .container{*/

/*    display: inline;*/
/*}*/

/*body .container .brand{*/

/*    display: inline-block;*/
/*    font-size: 22px;*/
/*    color: #fff;*/
/*    padding: 10px 10px 10px 10px;*/
/*}*/

/*body .container ul{*/

/*    list-style: none;*/
/*    display: inline;*/
/*    float: right;*/
/*    font-size: 18px;*/
/*}*/


/* CSS for the navbar ends here.*/

/* CSS for the greetings portion of the header which also contains the search box. */

body header .greeting-message-and-search-box{

    padding: 15rem 0 0 0;
    width: 100%;
    height: 50rem;
    text-align: center;
    background-image: url("./../../metadata/background/about-us/first.jpg");
    background-size: 100%;
    background-position: 46% 4%;
    background-repeat: no-repeat;
}

.form-wrapper{

    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center center;
    padding: 15px;
}

form{

    width: 100%;
    max-width: 790px;
    display: block;
    margin-top: 0;
    margin-block-end: 1em;
}

fieldset {

    display: block;
    margin: 0;
    padding: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    border: 0;
    min-width: min-content;
}

form legend {

    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
}

input{

    writing-mode: horizontal-tb !important;

    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: rgb(255, 255, 255);
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
}

.inner-form{

    width: 100%;
    margin-bottom: 17px;
    display: block;
}

.inner-form .input-field{

    width: 100%;
    position: relative;
}

.inner-form .input-field .choices{

    margin-bottom: 0;
}

.choices{

    position: relative;
    margin-bottom: 24px;
    font-size: 16px;
}

div.choices {
    direction: ltr;
    unicode-bidi: isolate;
}

.choices__list{

    margin: 0;
    padding-left: 0;
    list-style: none;
}

.inner-form .input-field .choices .choices__list--dropdown{

    background: transparent;
    font-size: 16px;
    color: #fff;
    border: 0;
    padding: 0 32px;


}

.inner-form .input-field .choices .choices__list--dropdown .choices__item{

    font-size: 13px;
    height: 25px;
    line-height: 1.3;
    padding: 0;
    padding-top: 5px;
    opacity: .7;
}

.choices__list--dropdown .choices__item{

    position: relative;
    padding: 10px;
    font-size: 14px;
}

.choices__item {
    cursor: default;
}

b{

    font-weight: bolder;
}

.choices__list--dropdown{

    display: none;
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    top: 100%;
    margin-top: -1px;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    overflow: hidden;
    word-break: break-all;
}

.inner-form .input-field .choices .choices__inner {

    min-height: 70px;
    width: 100%;
    background: transparent;
    border: 0;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 70px 10px 32px;
    font-size: 18px;
    color: #666;
    border-radius: 34px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
}

.inner-form .input-field .choices .choices__inner .choices__input {

    font-size: 16px;
    color: #333;
    background-color: transparent;
    margin-bottom: 0;
}


.choices[data-type*="select-multiple"] .choices__inner, .choices[data-type*="text"] .choices__inner {

    cursor: text;
}

.choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #f9f9f9;
    padding: 7.5px 7.5px 3.75px;
    border: 1px solid #DDDDDD;
    border-radius: 2.5px;
    font-size: 14px;
    min-height: 44px;
    overflow: hidden;
}

.choices__input {

    display: inline-block;
    vertical-align: baseline;
    background-color: #f9f9f9;
    font-size: 14px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: 4px 0 4px 2px;
}

.choices__list--multiple {

    display: inline;
}

.suggestion-wrap{

    padding: 0 15px;
}

.suggestion-wrap span{

    font-size:14px;
    font-family:helvetica,sans-serif;
    display:inline-block;
    padding:0 15px;
    line-height:32px;
    color:#fff;
    border-radius:16px;
    margin-right:10px;
    margin-bottom:10px
}

button, input {

    overflow: visible;
}

button, input, optgroup, select, textarea {

    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, select {

    text-transform: none;
}

input:not([type="image"]), textarea {
    box-sizing: border-box;
}

input, textarea, keygen, select, button, meter, progress {
    writing-mode: horizontal-tb;
}

.inner-form .input-field .btn-search {

    width: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.inner-form .input-field .btn-search svg {
    fill: #333;
    width: 40px;
    height: 40px;
    transition: all .2s ease-out, color .2s ease-out;
}

input::placeholder {

    white-space: pre;
    word-wrap: normal;
    overflow-x: hidden;
    overflow-y: hidden;
    line-height: initial;
}

::placeholder {
    -webkit-text-security: none;
    color: darkgray;
    pointer-events: none;
}

/*div {*/
/*    word-wrap: break-word;*/
/*    -webkit-nbsp-mode: space;*/
/*    line-break: after-white-space;*/
/*    -webkit-user-modify: read-write-plaintext-only;*/
/*}*/


/* CSS for the greetings portion of the header ends here. */

/* CSS for the our mission section.*/

.our-mission{

    text-align: center;
    width: 100%;
    height: 50rem;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.our-mission .section-header h1{

    padding: 25rem 0 0 0;
}

.our-mission-cards{

    width: 100%;

}

.our-mission-cards-wrapper {

    display: inline-flex;
    margin-block: 12em;
}

div.our-mission-card{


    background: ghostwhite;

    box-sizing: border-box;
    width: 332px;
    min-height: 332px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 12px;
    padding: 24px;
    border-radius: 18px;
    box-shadow: 0px 10px 16px -8px rgba(0,0,0,0.2);
}

.our-mission-card-image{

    display: block;
    width: auto;
    margin: 20px 20px 32px;
    /*min-height: 72px;*/
    max-height: 72px;
}

.our-mission-card-header{

    margin-bottom: 8px;
    font-size: 21px;
    color: inherit;
    width: 100%;
}


/* CSS for our mission section ends here. */

/* CSS for the about us section starts here. */

body .about-us{

    display: block;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

body .about-us #section-prompt{

    margin-bottom: 100px;
    margin-top: 380px;
    text-align: center;

}

body .team-container{

    box-shadow: 0px 10px 16px -8px rgba(0,0,0,0.2);
    margin-bottom: 5rem;
    width: 600px;
    border-radius: 20px;
    background: white;
}

body .team-container-chained-first{

    margin-left: 5%;
}

body .team-container-chained-last{


    margin-right: 5%;
}

body .team-wrapper{


    display: inline-flex;
    width: 600px;
}

body .team-member-photo{

    background-position: 50% 50%;
    margin: 0 auto 0 0;
}

body .team-member-image{

    border-radius: 50%;
    padding: 32px;
    height: 250px;
    width: 250px;
}

body .team-member-details{

    margin-top: 70px;
}

body .team-member-role{

    margin-top: 0.45rem;
}

body .team-member-description{

    margin-top: 1.5rem;
}

body .team-member-contact__list{

    display: flex;
    margin-left: 120px;
    margin-top: 20px;
}

body .team-member-contact__list__element{

    list-style: none;

    margin-left: 20px;
}
body .team-member-contact__list__element__link{

    color: #000000;
}
body .team-member-contact__list__element__link:hover{

    color: #cccccc;
    cursor: pointer;
}

body .about-us .team-leader{

    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}


body .about-us .team-leader img{

    border-radius: 50%;
    padding: 32px;
    height: 250px;
    width: 250px;
}

body .about-us #rest-of-the-team{

    display: flex;
    text-align: center;
    justify-content: space-between;

    margin-right: auto;
    margin-left: auto;
}

body .about-us .team-member{


}

body .about-us .team-member img{

    height: 300px;
    width: 300px;
}

/* CSS for the about us section ends here. */

/* CSS for the contact section starts here. */

body .contact{

    height: 500px;
}

.contact .contact-section__header{

    text-align: center;
    font-size: 50px;
    font-weight: 600;

}

.contact .contact-container{

    display: flex;
    margin-left: 3rem;
    margin-top: 2rem;
}

body .contact #contact-details ul{

    list-style: none;
}

.map-wrapper{


}

#map{

    margin-left: 50rem;
    height: 400px;
    width: 400px;
}

body .contact img{

    margin-left: 50%;
}

/* CSS for the contact section ends here.*/

/* CSS for the footer portion of the page. */

body footer{

    display: block;
    padding: 0 0 2.5rem 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    text-align: center;
}


footer .social-media{

    display: inline-block;
}

footer .social-media-container{

    text-align: center;
}

footer .social-media__list{

    display: flex;
}

footer .social-media__list__item{

    margin: 5px 10px 5px 10px;
    list-style: none;
}

footer .social-media__list__link{

    text-decoration: none;
    color: #000000;
}

i{
    font-size: 30px;
}

footer .social-media__list__link:hover{

    text-decoration: none;
    color: #cccccc;
}

footer .footer__list{

    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 11px;
}

footer .footer__list__item{

    display: inline-block;
    padding: 0 5px;
}

footer .footer__list__item__link{

    color: black;
    font-size: 1.2rem;
    line-height: 1.563rem;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
}

footer .footer__list__item__link:hover{

    color: saddlebrown;
}


/* CSS for the footer portion of the page ends here. */