/*@keyframes shifting-into-view {*/

/*    from{left: -300px; opacity: 0}*/
/*    to{left: 0; opacity: 1;}*/
/*}*/

/*@keyframes show-up{*/

/*    0% {opacity:0;}*/
/*    20% {opacity:1;}*/
/*    80% {opacity:1;}*/
/*    100% {opacity:0;}*/
/*}*/

/*@keyframes slide-in{*/

/*    0% {margin-left:-800px;}*/
/*    20% {margin-left:-800px;}*/
/*    35% {margin-left:0px;}*/
/*    100% {margin-left:0px;}*/
/*}*/

/*@keyframes reveal{*/

/*    0% {opacity:0;width:0px;}*/
/*    20% {opacity:1;width:0px;}*/
/*    30% {width:355px;}*/
/*    80% {opacity:1;}*/
/*    100% {opacity:0;width:355px;}*/
/*}*/

/*.hover-underline-animation {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    color: green;*/
/*    cursor: pointer;*/
/*}*/

/*.hover-underline-animation:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    transform: scaleX(0);*/
/*    height: 2px;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    background-color: green;*/
/*    transform-origin: bottom right;*/
/*    transition: transform 0.25s ease-out;*/
/*}*/

/*.hover-underline-animation:hover:after {*/
/*    transform: scaleX(1);*/
/*    transform-origin: bottom left;*/
/*}*/
